<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/defaultTemplate}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter</title>
</head>
<body>
    <div layout:fragment="content">

        <h1>Character Filters</h1>

        <form th:action="@{/search}" method="get">

            <div class="mb-3">
                <label class="form-label">Race</label>

                <select class="form-select" name="race">
                    <option value="">All</option>
                    <option value="Human">Human</option>
                    <option value="Elf">Elf</option>
                    <option value="Dwarf">Dwarf</option>
                    <option value="Orc">Orc</option>
                    <option value="Goblin">Goblin</option>
                    <option value="Angelborn">Angelborn</option>
                    <option value="Demonspawn">Demonspawn</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Class</label>

                <select class="form-select" name="characterClass">
                    <option value="">All</option>
                    <option value="Classless">Classless</option>
                    <option value="Knight">Knight</option>
                    <option value="Warrior">Warrior</option>
                    <option value="Paladin">Paladin</option>
                    <option value="Beserker">Beserker</option>
                    <option value="Monk">Monk</option>
                    <option value="Ranger">Ranger</option>
                    <option value="Thief">Thief</option>
                    <option value="Ninja">Ninja</option>
                    <option value="Assassin">Assassin</option>
                    <option value="Pirate">Pirate</option>
                    <option value="Wizard">Wizard</option>
                    <option value="Cleric">Cleric</option>
                    <option value="Sorcerer">Sorcerer</option>
                    <option value="Sorceress">Sorceress</option>
                    <option value="Warlock">Warlock</option>
                    <option value="Witch">Witch</option>
                    <option value="Farmer">Farmer</option>
                    <option value="Blacksmith">Blacksmith</option>
                    <option value="Merchant">Merchant</option>
                    <option value="Innkeeper">Innkeeper</option>
                    <option value="Guard">Guard</option>
                    <option value="Royalty">Royalty</option>
                    <option value="Lord">Lord</option>
                    <option value="Lady">Lady</option>
                    <option value="Governor">Governor</option>
                    <option value="Magistrate">Magistrate</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Class-Type</label>

                <select class="form-select" name="classType">
                    <option value="">All Class-Type</option>
                    <option value="Fighter">Fighter</option>
                    <option value="Rogue">Rogue</option>
                    <option value="Spellcaster">Spellcaster</option>
                    <option value="Commoner">Commoner</option>
                    <option value="Noble">Noble</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">
                Apply Filter
            </button>

        </form>

    </div>
</body>
</html>