<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/defaultTemplate}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Characters</title>
</head>
<body>
    <section layout:fragment="content">
    
    <div class="container">

        <div class="search-header text-center mb-4">
            <h1 class="cinzel-regular mb-1">Search Characters</h1>
            <p class="mb-4">Use the search bar and filters below to find characters that match your criteria.</p>
        </div>
        <form th:action="@{/search}" method="get">

            <div class="input-group mb-3">

                <input type="text"
                    name="keyword"
                    class="form-control"
                    placeholder="Search characters...">

                <button class="btn btn-primary"
                        type="submit">

                    Search

                </button>

            </div>

        </form>

        <form th:action="@{/search}" method="get">

            <input type="hidden"
                name="keyword"
                th:value="${keyword}">

            <div class="row">

                <div class="col-md-4">

                    <label>Race</label>

                    <select class="form-select"
                            name="race">

                        <option value="">All Races</option>
                        <option th:each="race : ${races}"
                                th:value="${race.raceName}"
                                th:text="${race.raceName}">
                        </option>

                    </select>

                </div>

                <div class="col-md-4">

                    <label>Class</label>

                    <select class="form-select"
                            name="characterClass">

                        <option value="">All Classes</option>
                        <option th:each="characterClass : ${characterClasses}"
                                th:value="${characterClass.className}"
                                th:text="${characterClass.className}">
                        </option>
                        
                    </select>

                </div>

                <div class="col-md-4">

                    <label>Class-Type</label>

                    <select class="form-select"
                            name="classType">

                        <option value="">All Class-Type</option>
                        <option th:each="classType : ${classTypes}"
                                th:value="${classType}"
                                th:text="${classType}">
                        </option>

                    </select>


                </div>

            </div>

            <button class="btn btn-secondary mt-3">

                Apply Filters

            </button>

        </form>
        </div>
        
        <div class="container-fluid">

            <div class="character-grid mt-4">
                
                <th:block th:each="character : ${characters}">
                    <div th:replace="~{fragments/character-card :: characterCard(${character})}"></div>
                </th:block>
                
            </div>
            
        </div>
    </section>
</body>
</html>