<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/defaultTemplate}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
</head>
<body>
    <div layout:fragment="content">

        <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="${successMessage}">Success message</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>

        <div class="container-fluid">

            
            <h1>Favorite Characters</h1>
            
            <!-- CHARACTER CARDS -->
            <div th:each="character : ${characters}">
                <div th:replace="~{fragments/character-card :: characterCard(${character})}"></div>
            </div>
            
        </div>
        
    </div>
</body>
</html>