<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultTemplate}">

<head>
    <meta charset="UTF-8">
    <title>Characters</title>
</head>

<body>
    <section layout:fragment="content">

        <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="${successMessage}">Success message</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>

        <div class="character-list-header text-center mb-4">
            <h1 class="cinzel-regular mb-1">Characters</h1>
            <p class="mb-4">Manage your characters here. You can create, view, edit, or delete characters as needed.</p>
            <a th:href="@{/characters/create}" class="btn btn-primary">Create New Character</a>
        </div>

        <div class="mt-xxl-2">

            <div class="character-grid mt-4">

                <!-- CHARACTER CARDS -->
                <div th:each="character : ${characters}">
                    <div th:replace="~{fragments/character-card :: characterCard(${character})}"></div>
                </div>

                <!-- CREATE CHARACTER CARD -->
                <a th:href="@{/characters/create}" class="character-create-card">

                    <div class="create-card-content">

                        <div class="create-icon">
                            <i class="bi bi-plus-lg"></i>
                        </div>

                        <h3>Create Character</h3>

                        <p>Add a new hero, villain, NPC, or monster</p>

                    </div>

                </a>

            </div>

        </div>
    
</section>
</body>
</html>