<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultTemplate}">

<head>
    <meta charset="UTF-8">
    <title>Characters</title>
</head>

<body>
    <section layout:fragment="content">

        <h1>Characters</h1>
        <p>Manage your characters here. You can create, view, edit, or delete characters as needed.<br>
        <small class="text-muted"><em>Temporary Table View for testing purposes</em></small>
        </p>

        <a th:href="@{/characters/create}">Create New Character</a>

        <div class="mt-xxl-2">

            <table class="table table-striped table-hover bi-align-middle mt-3">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Race</th>
                    <th>Class</th>
                    <th>Gender</th>
                    <th>Type</th>
                    <th>Image URL</th>
                    <th>Visibility</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="character : ${characters}">
                    <td th:text="${character.characterName}">Name</td>
                    <td th:text="${character.characterLevel}">Level</td>
                    <td th:text="${character.raceId}">Race</td>
                    <td th:text="${character.classId}">Class</td>
                    <td th:text="${character.characterGender}">Gender</td>
                    <td th:text="${character.characterType}">Type</td>
                    <td th:text="${character.imageUrl}">Image URL</td>
                    <td th:text="${character.visibility}">Visibility</td>
                    <td>
                        <a th:href="@{/characters/detail/{id}(id=${character.characterId})}">View</a>
                        |
                        <a th:href="@{/characters/edit/{id}(id=${character.characterId})}">Edit</a>
                        |
                        <a th:href="@{/characters/delete/{id}(id=${character.characterId})}"
                        onclick="return confirm('Are you sure you want to delete this character?');">
                        Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    
</section>
</body>
</html>